/* DigitalOcean - Navbar */
nav {
  background-color: white;
  height: 80px;
  font-size: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 1px 3px lightgrey;
}

nav img {
  height: 30px;
  margin-top: 25px;
}

nav ul {
  line-height: 80px;
}

.list_navbar {
  list-style: none;
}
.list_navbar li {
  display: inline-block;
  margin-left: 10px;
}
.list_navbar a {
  text-decoration: none;
}
.list_navbar li span,
.list_navbar li i,
.list_navbar li a {
  cursor: pointer;
  color: #031B4E;
}
.list_navbar li span:hover {
  color: #006AFF;
}
.list_navbar li a:hover {
  color: #006AFF;
}

#sign_up {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #006AFF;
  color: #006AFF;
}
#sign_up:hover {
  background-color: #006AFF;
  color: white;
}

#display_none_md {
  line-height: 80px;
  cursor: pointer;
  color: #006AFF;
  font-size: 22px;
}
/* /DigitalOcean - Navbar */

/* Welcome to the developer cloud */
.header_bottom {
  margin-top: 80px;
  background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
}

.welcome h1,
.welcome p {
  color: white;
}
.welcome h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
}
.welcome p {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.7;
}

.card {
  background-color: white;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  margin: 80px 0;
}
.card h3 {
  font-weight: bold;
  line-height: 36px;
}
.card h3 span {
  color: #006AFF;
}
.input_field {
  height: 50px;
  margin-bottom: 10px;
}
.button {
  width: 100%;
  background-color: #006AFF;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.button:hover {
  background-color: #1633FF;
  color: white;
}
.card form a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.card form a:hover span {
  color: #006AFF;
}
.button_google {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.button_google img {
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.button_google:hover {
  background-color: white;
  color: #006AFF;
}
.card p a {
  color: #006AFF;
}
/* Welcome to the developer cloud */

/* Innovative businesses trust DigitalOcean */
#logos {
  text-align: center;
  background-color: #F3F5F9;
  padding: 60px 0;
}

#logos h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #5B6987;
  margin-bottom: 30px;
}
#logos img {
  height: 80px;
}
#logos img:last-child {
  margin-bottom: 30px;
}
#logos a {
  text-decoration: none;
  font-weight: bold;
  color: #006AFF;
}
#logos a:hover {
  color: #1633FF;
}
/* Innovative businesses trust DigitalOcean */

/* Deploy and scale seamlessly */
#deploy {
  padding-top: 50px;
  padding-bottom: 60px;
}

.deploy_top h2 {
  color: #031B4E;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
}
.deploy_top p {
  color: #5B6987;
  font-size: 22px;
  margin-bottom: 50px;
}

#deploy li {
  list-style: none;
  cursor: pointer;
  border-left: 2px solid lightgrey;
  color: #5B6987;
  font-size: 20px;
  padding: 10px;
}
#deploy li:hover {
  color: #031B4E;
  border-color: #006AFF;
}

.box img {
  height: 40px;
}
.box h4 {
  font-size: 20px;
  font-weight: bold;
  color: #031B4E;
}
.box p {
  color: #5B6987;
  font-size: 16px;
  padding-bottom: 30px;
}
/* /Deploy and scale seamlessly */

/* Designed for developers */
#designed {
  background-color: #F3F5F9;
  padding-top: 50px;
  padding-bottom: 60px;
}

.designed_top h2 {
  color: #031B4E;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
}
.designed_top p {
  color: #5B6987;
  font-size: 22px;
}

.screenshot img,
.screenshot i {
  display: inline-block;
}
.screenshot img {
  height: 500px;
  margin: 40px 0;
}
.screenshot i {
  cursor: pointer;
  color: #5B6987;
  font-size: 40px;
  padding: 20px;
}
#chevron_right:hover {
  color: #031B4E;
}
.screenshot p {
  color: #031B4E;
  font-size: 16px;
}

.btn_icon {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px 4px;
  border: 2px solid #006AFF;
  background-color: #F3F5F9;
}
#btn_icon_selected_1 {
  background-color: #006AFF;
}
/* /Designed for developers */

/* Built for business */
#business {
  padding-top: 50px;
  padding-bottom: 60px;
}

#business h2 {
  color: #031B4E;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}
#business img {
  height: 40px;
}
#business h4 {
  font-size: 20px;
  font-weight: bold;
  color: #031B4E;
}
#business p {
  color: #5B6987;
  font-size: 16px;
}
#business a {
  text-decoration: none;
  font-weight: bold;
  color: #006AFF;
}
#business a:hover {
  color: #1633FF;
}
/* /Built for business */

/* Data Center */
#data_center {
  background: linear-gradient(to bottom, #006AFF, #031B4E);
  padding-top: 50px;
  padding-bottom: 60px;
}

#data_center h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.list_data_center {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}
.list_data_center li {
  border-bottom: 1px solid white;
  height: 40px;
}
.list_data_center li:last-child {
  border-bottom: none;
}
.list_data_center span,
.list_data_center p,
.list_data_center a {
  line-height: 40px;
}
.list_data_center span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 20%;
  text-align: left;
}
.list_data_center p {
  display: inline-block;
  color: #D3D3D3;
  width: 60%;
  text-align: left;
}
.list_data_center a {
  text-decoration: none;
  color: #00FFFF;
}
.list_data_center a:hover {
  color: #4169E1;
}
/* /Data Center */

/* Development teams */
#development {
  background-color: #F3F5F9;
  padding-top: 50px;
  padding-bottom: 60px;
}

#development h2 {
  color: #031B4E;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.teams {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 60px;
  background-color: white;
  box-shadow: 3px 3px 5px lightgrey;
  position: relative;
}

#teams_chevron_left,
#teams_chevron_right {
  cursor: pointer;
  color: #5B6987;
  font-size: 40px;
  position: absolute;
}
#teams_chevron_right:hover {
  color: #031B4E;
}
#teams_chevron_left {
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
}
#teams_chevron_right {
  top: 50%;
  right: -9%;
  transform: translate(-50%, -50%);
}

.teams img {
  height: 30px;
  margin-bottom: 30px;
}
#quote {
  color: #5B6987;
  font-size: 22px;
  margin-bottom: 30px;
}
#rick_o_toole {
  font-size: 18px;
  font-weight: bold;
  color: #031B4E;
}
#founder {
  font-size: 16px;
  color: #031B4E;
  margin-bottom: 30px;
}
.teams a {
  text-decoration: none;
  font-weight: bold;
  color: #006AFF;
}
.teams a:hover {
  color: #1633FF;
}

#btn_icon_selected_2 {
  background-color: #006AFF;
}
/* /Development teams */

/* Get started now */
#get_started {
  background-image: url("../img/bg-home-cta.svg");
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

#get_started h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
}

#get_started a {
  text-decoration: none;
}
#create_account {
  padding: 20px 30px;
  border-radius: 5px;
  background-color: white;
  color: #006AFF;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 1px 3px lightgrey;
}
#create_account:hover {
  background-color: #CBD4E4;
}
/* /Get started now */

/* Footer */
footer {
  background-color: #010E28;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer h6 {
  color: white;
  font-size: 14px;
}
footer p {
  color: white;
}
footer ul {
  list-style: none;
  margin-left: -40px;
}
footer li {
  line-height: 30px;
}
#list_icons li {
  display: inline-block;
}
#list_icons i {
  font-size: 22px;
  margin-right: 10px;
}
footer a {
  color: #5B6886;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
footer h5 {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
/* /Footer */

/* Sharkbot */
.sharkbot {
  height: 60px;
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 30px;
}
.shark_image {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid #031B4E;
  margin-left: 20px;
  cursor: pointer;
  background-image: url("https://images.prismic.io/www-static/eceebf5d559465963a9c32c4451e15d2a87d0ff0_sammy-front.png?auto=compress,format");
  background-size: cover;
  background-position: center;
  float: right;
  position: relative;
}
.shark_number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #006AFF;
  background-color: red;
  text-align: center;
  position: absolute;
  top: -10%;
  right: -10%;
}
.shark_number span {
  color: white;
  font-weight: bold;
  vertical-align: top;
}
.shark_text {
  height: 60px;
  width: 300px;
  border-radius: 5px;
  background-color: #006AFF;
  padding: 8px;
  cursor: pointer;
  opacity: 0.8;
  float: right;
  position: relative;
}
.shark_text p {
  color: white;
}
.shark_text i {
  color: #006AFF;
  font-size: 30px;
  position: absolute;
  bottom: 3%;
  right: -3%;
}
/* /Sharkbot */


/* Tablets (≥768px) */
@media screen and (max-width: 991px) {

  .display_none_xs {
    display: none;
  }

  .screenshot img {
    height: 350px;
  }

}

/* Phones (<768px) */
@media screen and (max-width: 767px) {

  #deploy li {
    margin-left: -40px;
  }

  .screenshot img {
    height: 200px;
  }
  .screenshot i {
    display: none;
  }

  #data_center {
    font-size: 13px;
  }
  .list_data_center p {
    width: 50%;
  }

  #teams_chevron_left,
  #teams_chevron_right {
    display: none;
  }

  .sharkbot {
    bottom: 15px;
    right: 10px;
  }
  .shark_image {
    height: 55px;
    width: 55px;
    margin-left: 15px;
  }
  .shark_number {
    height: 22px;
    width: 22px;
  }
  .shark_number span {
    font-size: 12px;
  }
  .shark_text {
    height: 55px;
    width: 270px;
    padding: 5px;
  }

}

/* Desktops (≥992px) */
@media screen and (min-width: 992px) {

  #display_none_md {
    display: none;
  }

}
