/* DigitalOcean - Barra di Navigazione */
nav {
  background-color: white;
  height: 80px;
  font-size: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

nav img {
  height: 30px;
  margin-top: 20px;
}

nav ul {
  line-height: 80px;
}

.list_style {
  list-style: none;
}
.list_style li {
  display: inline-block;
  margin-left: 10px;
}
.list_style a {
  text-decoration: none;
}
.list_style li span,
.list_style li i,
.list_style li a {
  cursor: pointer;
  color: #031B4E;
}
.list_style li span:hover {
  color: #006AFF;
}
.list_style li a:hover {
  color: #006AFF;
}

#sign_up {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #006AFF;
  color: #006AFF;
}
#sign_up:hover {
  background-color: #006AFF;
  color: white;
}

#display_none_md {
  line-height: 80px;
  cursor: pointer;
  color: #006AFF;
}
/* /DigitalOcean - Barra di Navigazione */


.header_bottom {
  margin-top: 80px;
  height: 600px;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
}

.header_bottom h1,
.header_bottom p {
  color: white;
}
.header_bottom h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}
.header_bottom p {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.7;
}

.card {
  height: 370px;
  width: 470px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
}
.card h3 {
  font-weight: bold;
  line-height: 36px;
}
.card h3 span {
  color: #006AFF;
}
.input_field {
  height: 50px;
  margin-bottom: 10px;
}
.button {
  width: 100%;
  background-color: #006AFF;
  color: white;
  margin-bottom: 10px;
}
.button:hover {
  background-color: #1633FF;
  color: white;
}
.header_bottom a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.header_bottom a:hover span {
  color: #006AFF;
}
.button_google {
  width: 100%;
}
.button_google:hover {
  background-color: white;
  color: #006AFF;
}


@media screen and (max-width: 992px) {

  .display_none_xs {
    display: none;
  }

}

@media screen and (min-width: 993px) {

  #display_none_md {
    display: none;
  }

}
