/* DigitalOcean - Navbar */
nav {
  background-color: white;
  height: 80px;
  font-size: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 1px 3px lightgrey;
}

nav img {
  height: 30px;
  margin-top: 20px;
}

nav ul {
  line-height: 80px;
}

.list_navbar {
  list-style: none;
}
.list_navbar li {
  display: inline-block;
  margin-left: 10px;
}
.list_navbar a {
  text-decoration: none;
}
.list_navbar li span,
.list_navbar li i,
.list_navbar li a {
  cursor: pointer;
  color: #031B4E;
}
.list_navbar li span:hover {
  color: #006AFF;
}
.list_navbar li a:hover {
  color: #006AFF;
}

#sign_up {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #006AFF;
  color: #006AFF;
}
#sign_up:hover {
  background-color: #006AFF;
  color: white;
}

#display_none_md {
  line-height: 80px;
  cursor: pointer;
  color: #006AFF;
}
/* /DigitalOcean - Navbar */

/* Welcome to the developer cloud */
.header_bottom {
  margin-top: 80px;
  background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
}

.welcome h1,
.welcome p {
  color: white;
}
.welcome h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
}
.welcome p {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.7;
}

.card {
  background-color: white;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  margin: 80px 0;
}
.card h3 {
  font-weight: bold;
  line-height: 36px;
}
.card h3 span {
  color: #006AFF;
}
.input_field {
  height: 50px;
  margin-bottom: 10px;
}
.button {
  width: 100%;
  background-color: #006AFF;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.button:hover {
  background-color: #1633FF;
  color: white;
}
.card form a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.card form a:hover span {
  color: #006AFF;
}
.button_google {
  width: 100%;
  margin-bottom: 10px;
}
.button_google:hover {
  background-color: white;
  color: #006AFF;
}
.button_google i {
  font-size: 16px;
}
.button_google:hover i {
  color: black;
}
.card p a {
  color: #006AFF;
}
/* Welcome to the developer cloud */

/* Innovative businesses trust DigitalOcean */
#logos {
  text-align: center;
  background-color: #F3F5F9;
  padding: 60px 0;
}

#logos h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #5B6987;
  margin-bottom: 30px;
}
#logos img {
  height: 80px;
}
#logos img:last-child {
  margin-bottom: 30px;
}
#logos a {
  text-decoration: none;
  font-weight: bold;
  color: #006AFF;
}
#logos a:hover {
  color: #1633FF;
}
/* Innovative businesses trust DigitalOcean */

/* Deploy and scale seamlessly */
#deploy {
  padding-top: 50px;
  padding-bottom: 60px;
}

.deploy_top h2 {
  color: #031B4E;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
}
.deploy_top p {
  color: #5B6987;
  font-size: 22px;
  margin-bottom: 50px;
}

#deploy li {
  list-style: none;
  cursor: pointer;
  border-left: 2px solid lightgrey;
  color: #5B6987;
  font-size: 20px;
  padding: 10px;
}
#deploy li:hover {
  color: #031B4E;
  border-color: #006AFF;
}

.box img {
  height: 40px;
}
.box h4 {
  font-size: 20px;
  font-weight: bold;
  color: #031B4E;
}
.box p {
  color: #5B6987;
  font-size: 16px;
  padding-bottom: 30px;
}
/* /Deploy and scale seamlessly */

/* Designed for developers */
#designed {
  background-color: #F3F5F9;
  padding-top: 50px;
  padding-bottom: 60px;
}

.designed_top h2 {
  color: #031B4E;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
}
.designed_top p {
  color: #5B6987;
  font-size: 22px;
}

.screenshot img,
.screenshot i {
  display: inline-block;
}
.screenshot img {
  height: 500px;
  margin: 40px 0;
}
.screenshot i {
  cursor: pointer;
  font-size: 40px;
  padding: 20px;
}
.screenshot i {
  color: #5B6987;
}
#chevron_right:hover {
  color: #031B4E;
}
.screenshot p {
  color: #031B4E;
  font-size: 16px;
}

.btn_icon {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 5px;
  border: 2px solid #006AFF;
  background-color: #F3F5F9;
}
#btn_icon_selected {
  background-color: #006AFF;
}
/* /Designed for developers */

/* Built for business */
#business {
  padding-top: 50px;
  padding-bottom: 60px;
}

#business h2 {
  color: #031B4E;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}
#business img {
  height: 40px;
}
#business h4 {
  font-size: 20px;
  font-weight: bold;
  color: #031B4E;
}
#business p {
  color: #5B6987;
  font-size: 16px;
}
#business a {
  text-decoration: none;
  font-weight: bold;
  color: #006AFF;
}
#business a:hover {
  color: #1633FF;
}
/* /Built for business */

/* Data Center */
#data_center {
  background: linear-gradient(to bottom, #006AFF, #031B4E);
  padding-top: 50px;
  padding-bottom: 60px;
}

#data_center h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.list_data_center {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.list_data_center li {
  border-bottom: 1px solid white;
  height: 40px;
}
.list_data_center li:last-child {
  border-bottom: none;
}
.list_data_center span,
.list_data_center p,
.list_data_center a {
  line-height: 40px;
}
.list_data_center span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 20%;
  padding-left: 10px;
}
.list_data_center p {
  display: inline-block;
  color: #D3D3D3;
  width: 60%;
}
.list_data_center a {
  text-decoration: none;
  color: #00FFFF;
  width: 20%;
}
.list_data_center a:hover {
  color: #4169E1;
}
/* /Data Center */


@media screen and (max-width: 991px) {

  .display_none_xs {
    display: none;
  }

  #designed p {
    margin-bottom: 100px;
  }
  .screenshot img {
    height: 350px;
  }

}

@media screen and (max-width: 767px) {

  #deploy li {
    margin-left: -40px;
  }
  #deploy p {
    padding-bottom: 0;
  }

  #designed p {
    margin-bottom: 100px;
  }
  .screenshot img {
    height: 200px;
  }
  .screenshot i {
    display: none;
  }

  #data_center {
    font-size: 13px;
  }
  .list_data_center p {
    width: 50%;
  }
  .list_data_center a {
    width: 30%;
  }

}

@media screen and (min-width: 992px) {

  #display_none_md {
    display: none;
  }

}
